/.states
/.git

/Solidity Fundamentals/Homework/artifacts/
/Solidity Fundamentals/Lab/artifacts/

/Ethereum and Smart Contracts Basics/Homework/artifacts/
/Ethereum and Smart Contracts Basics/Lab/artifacts/


/Inheritance and Modularity/Homework/artifacts/
/Inheritance and Modularity/Lab/artifacts/
