/.states
/.git

/Solidity Fundamentals/Homeworl/artifacts/
/Solidity Fundamentals/Lab/artifacts/

/Ethereum and Smart Contracts Basics/Homework/artifacts/
/Ethereum and Smart Contracts Basics/Lab/artifacts/